#root {

  @apply max-w-[1280px] mx-auto my-0


}



.logo {
@apply h-16 p-2 will-change-transform transition-transform hover:scale-110
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}